<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
    <ul>
        <li id="left"><img class="logo" src="../../assets/LogoIWAWhite.png" width="90" height="60" alt="International Weather Agency"></li>
        <li id="left"><a class="left" href="#home">Home</a></li>
        <li id="left"><a class="left" href="#subscriptions">Subscriptions</a></li>
        <li id="login"><a class="right" href="#login">Login</a></li>
        <li></li>
      </ul>    
</body>
</html>
