<body background-image='../../assets/background.jpg'>
    <div class="main_box">
        <h1>Welcome to the International Weather Agency!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
            earum molestias mollitia laboriosam assumenda totam accusamus,
            nemo perspiciatis fugiat repellat minima ea maiores dolor.
            Odit voluptas deleniti dolorum omnis delectus? Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Dolorum placeat fugit animi ut laudantium,
             laboriosam necessitatibus, nihil et
            veniam delectus dolor tempore magni sunt expedita, asperiores exercitationem itaque iste fugiat. </p>
    </div>   
</body>

