
<h1>| Our offer |</h1>
<div class="subscriptions">
    <div class="subscription_1">
    <h2>Subscription 1</h2>
    <img src="../../assets/clouds.jpg" alt="clouds">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, illo provident laudantium veniam voluptatem
        alias mollitia accusantium aliquam dolore culpa minima assumenda nisi nobis impedit tempore minus facere quidem recusandae?</p>
    </div>
    <div class="subscription_2">
    <h2>Subscription 2</h2>
    <img src="../../assets/cyclone.jpg" alt="cyclone">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, illo provident laudantium veniam voluptatem
        alias mollitia accusantium aliquam dolore culpa minima assumenda nisi nobis impedit tempore minus facere quidem recusandae?</p>
    </div>
    <div class="subscription_3">
    <h2>Subscription 3</h2>
    <img src="../../assets/thunder.jpg" alt="thunder">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, illo provident laudantium veniam voluptatem
        alias mollitia accusantium aliquam dolore culpa minima assumenda nisi nobis impedit tempore minus facere quidem recusandae?</p>
    </div>
</div>

