div.subscriptions{
    padding: 20px 30px;
    border: solid 5px black;
    border-radius: 25px;
    margin: 25px;
    text-align: center;
}

.subscriptions div{
    width: 27.5%;
    border: solid black;
    border-radius: 25px;
    margin: 15px;
    display: inline-block;
}

div.subscription_1{
    background-color: #333;
    color: white;
    float: left;
}

div.subscription_2{
    background-color: red;
}

div.subscription_3{
    background-color: blue;
    color: white;
    float: right;
}

.subscriptions img{
    width: 60%;
    border: solid 2px black;
    border-radius: 25px;
}

.subscriptions button{
    margin-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    width: 40%;
    height: 35%;
}

.subscriptions p{
  margin: 30px;
}