ul.navigate {
>>>>>>> Werk-Stan-en-Corné:src/app/homepage/homepage.component.css
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 4px solid red;
    position: sticky;
    top: 0;
}
  
li {
    float: left;
    text-align: center;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
}
  
li a.left:hover {
    background-color: white;
    color: #333;
    border-radius: 18px;
    border: 2px solid blue;
}

li a.right:hover {
    background-color: white;
    color: red;
    border-radius: 10px;
    border: 2px solid red;
}

.logo {
    margin: 10px;
}

#login {
    float: right;
    margin-right: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: red;
<<<<<<< HEAD:src/app/navbar/navbar.component.css
}
=======
  }

  body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../../assets/background_3.jpg');
  }

  div.main_box_text {
    background-color: white;
    margin: 25px;
    padding: 14px 16px;
    border-radius: 15px;
    width: 50%;
  }

  div.main_box_text p{
    font-size: 20px;
  }

  div.main_box img{
    border: solid black;
    border-radius: 25px;
  }

  div.button_box{
    margin: 10px;
  }

  div.subscriptions{
    padding: 20px 30px;
    border: solid 5px black;
    border-radius: 25px;
    margin: 25px;
  }

  .subscriptions div{
    width: 25%;
    border: solid black;
    border-radius: 25px;
    text-align: center;
    margin: 5px;
  }

  div.subscription_1{
    background-color: #333;
    color: white;
  }

  div.subscription_2{
    background-color: red;
  }

  div.subscription_3{
    background-color: blue;
    color: white;
  }

  .subscriptions img{
    width: 60%;
    border: solid 2px black;
    border-radius: 25px;
  }

  h1{
  text-align: center;
  font-size: 80px;
  }

  .subscriptions button{
    margin-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    width: 40%;
    height: 35%;
  }



  
>>>>>>> Werk-Stan-en-Corné:src/app/homepage/homepage.component.css
