
.link {
    display: block;
}

.wrapper {
    height: 5px;
    display: table-row;
}

.left, .middle, .right { float: left; }
.left, .middle, .right { width: 200px }

.name { color: #3f51b5; }

.datum { color: #2d3669; }

a {
  text-decoration: none;
  color: #3f51b5;
}

a:hover{
  background-color: #3d5bf61a
}

.example-viewport {
  height: 800px;
  width: 500px;
  border: 1px solid black;
}

.example-dt {
  text-decoration: none;
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
  color: black;
}

.example-de {
    height: 30px;
    color: #2d3669;
}



.selected{
  border: solid black 2px;
  padding: 18px 24px;
  min-width: 650px;
}
.selected h1{
  font-size: xx-large;
}

.selected p{
  font-size: 20px;
}


.search{
  margin-left: 12%;
  margin-top: 50px;
}