h3{
    margin-left: 25px;
}

div.recent_measurements h4{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; 
    margin-bottom: 5px;
}


div.recent_measurements p {
    margin: 0px;
}

div.recent_measurements{
    padding: 12px 16px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 25px;
    background-color: lightgrey;
}