.login_box{
    text-align: center;
    background-color: white;
    position: relative;
    border: solid 2px black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 8%;
}

.top{
    border-bottom: solid white;
    background-color: #333;
    border-bottom: solid 2px black;
    
}
.top img{
    padding: 10px 10px;
    width: 25%;
}

.middle{
    margin: 25px;
}

label{
    float: left;
}

input{
    width: 92%;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.bottom{
    background-color: #333;
}

button{
    margin: 20px;
    width: 50%;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}