<div class="icon_box">
    <ul>
        <li><strong>👤 - Ingelogd als</strong><br>
        <h2>
            {{user.first_name + " " + user.last_name}}<strong>​</strong>
        </h2>
            </li>

        <li><strong>✍ - Rechten</strong><br>
        <h2 *ngIf="user.role_id == 1">
            U bent ingelogd als Administratief Medewerker.<strong>​</strong>
        </h2>
        <h2 *ngIf="user.role_id == 2">
            U bent ingelogd als Wetenschappelijk Medewerker.<strong>​</strong>
        </h2>
        <h2 *ngIf="user.role_id == 3">
            U bent ingelogd als Administrator.<strong>​</strong>
        </h2>
        </li>

        <li><strong>❌ - Storingen</strong><br>
        <h2>
            Er zijn momenteel geen storingen bekend!<strong>​</strong>
        </h2>
        </li>
    </ul>   
    </div>