<p *ngIf="!loadedUsers" style="margin:auto">Loading users...</p>
<div>
    <mat-grid-list [cols]="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="loadedUsers">
    <mat-grid-list [cols]="4" rowHeight={{appHeight}}>
        <mat-grid-tile [colspan]="1">
            <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
                <dl class="example-dl">
                    <a *cdkVirtualFor="let user of users" [routerLink]="['view', user.id]" class="link primary">
                        <dd class="example-dt">{{user.first_name + ' ' + user.last_name}}</dd>
                        <dd class="example-dd">{{user.email}}</dd>
                    </a>
                </dl>
            </cdk-virtual-scroll-viewport>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
            <router-outlet></router-outlet>
        </mat-grid-tile>
    </mat-grid-list>
</div>

