
<div class="main_box">
    <div class="main_box_text">
        <h1>Background info</h1>
        <p>Unsurprisingly, the world's climate has seen significant changes in the last couple of decades.
            The causes are still heavily discussed, but the facts are undeniable. The effects of climate change
            are the more extreme weather conditions in the form of superstorms, floods, and long periods of drought.
                These conditions usually go along with human suffering. The United Nations as an organization has been trying
            to prevent human suffering since its creation in 1949. Originally, this was done by maintaining world peace. Later,
            the organization would also stimulate the growth of third-world countries. The United Nations has decided
            to heavily battle the effects of climate change. On the one hand, the UN provides emergency aid to those affected areas; 
            on the other hand, the UN wants to play a leading role in providing global information about weather conditions. This will ensure that local
            weather services can quickly alarm locals about the negative consequences of extreme weather conditions. As a partner of the United Nations, 
            IWA will provide the UN with the information it needs. </p>
    </div>
    <img class="world_map" src="../../assets/world_map.jpg" alt="world_map">
</div>
