<div class="IWA_box">
    <div class="icon_box">
        <ul>
            <li>✅<strong>- Accurate</strong></li>
            <li>🌍<strong>- World wide</strong></li>
            <li>⚡<strong>- Fast</strong></li>
        </ul>
    </div>
    <div class="IWA_box_text">
        <h1>About IWA</h1>
            <p>The IWA has set itself the goal of providing data on the global state of collecting, storing, and making available weather information to interested parties,
                such as local weather services, commercial weather consultancies, and other interested parties in the broadest sense of the word.
                The organization has its head office in Groningen. This location may be startling, but it is the result of effective lobbying by the Dutch government.
                In addition, Groningen is an important location due to its excellent Internet infrastructure for an organization of such stature.
                <br><br>
                The IWA has been operational for many years.
                Because it operates as a partner of the UN, all UN members have pledged that their local weather stations will share their data with the IWA in Groningen and that
                their weather services will involve information from Groningen from now on. The ownership and management of the local weather stations will remain in the hands of
                the various weather services.</p>
    </div>
</div>

<div class="service_box">
    <div class="service_box_text">
        <p> The most important service provided by the IWA is the provision of information about the global weather situation.
            The weather data comes from local weather stations, which are owned by local weather services.
            This information is collected by IWA via data communication links and, via a staged structure, stored in a central environment.
            Through web applications, customers can request a selection from this data. The reception infrastructure and customer applications are developed and maintained by the IWA.
            The customer specifies in the service contract with the agency what information he wants to extract from the database and what quality standards must apply.
            The contract also contains a tariff set by commercial customers that must be paid directly to the IWA, and those for nationwide weather services are included
            in the UN contribution rate. The duration of a service contract is usually one year. </p>
    </div>
</div>

<img class="world_map" src="../../assets/world_map.jpg" alt="world_map">
<div class="main_box">
    <div class="main_box_text">
        <h1>Background info</h1>
        <p> The world's climate has seen significant changes in the last couple of decades.
            The causes are still heavily discussed, but the facts are undeniable. The effects of climate change
            are the more extreme weather conditions in the form of superstorms, floods, and long periods of drought.
            These conditions usually go along with human suffering. The United Nations as an organization has been trying
            to prevent human suffering since its creation in 1949. Originally, this was done by maintaining world peace. Later,
            the organization would also stimulate the growth of third-world countries. The United Nations has decided
            to heavily battle the effects of climate change. On the one hand, the UN provides emergency aid to those affected areas; 
            on the other hand, the UN wants to play a leading role in providing global information about weather conditions. This will ensure that local
            weather services can quickly alarm locals about the negative consequences of extreme weather conditions. As a partner of the United Nations, 
            IWA will provide the UN with the information it needs. </p>
    </div>
</div>

