body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../../assets/background_3.jpg');
}
  
div.main_box {
    background-color: white;
    margin: 25px;
    padding: 14px 16px;
    border-radius: 15px;
    width: 50%;
}
  
div.main_box p{
    font-size: 20px;
}
  