strong{
    font-size: 40px;
}
div.icon_box ul{
    background-color: red;
    list-style: none;
    overflow: hidden;
    position: relative;
    padding: 12px 16px;
    margin: 25px;
    border-radius: 25px;
    
}

div.icon_box li{
    float: left;
    text-align: center;
    width: 29%;
    height: 90%;
    margin: 15px;
    background-color: lightgrey;
    border-radius: 25px;
    border: solid 2px black;
    padding: 8px 12px;
}

li img{
    width: 50%;
    margin-top: 10px;
    height: auto;
    border-radius: 18px;
}

.C2_content{
    background-color: #333;
    margin: 50px;
    border-radius: 25px;
}

.C2_content ul{
    list-style: none;
    overflow: hidden;
}

.C2_content li{
    width: 43% ;
    background-color: lightgray;
    float: left;
    padding: 12px 16px;
    margin: 25px;
    border-radius: 25px;
 }


.main_box{
    background-color: lightgrey;
    padding: 20px 32px;
    border-radius: 25px;
    margin: 25px;
}

.main_box img{
    position: relative;
    top: -50px;
    float: right;
    margin: 50px;
    border-radius: 25px;
}


